body{
  background-color: bisque;
}
section{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: mymove 2s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 500px;}

}
